<div class="container-fluid">
    <div class="container title">
        <h2>Mega Electronix</h2>
        <h4>Edit task</h4>
    </div>
    <nav class="container-fluid border-top tab-navigation">
        <ul class="mt-4">
          <li>
            <a routerLink="/details" routerLinkActive="active" class="tab-link">
              <i class="icon-details"></i> 
              <span>Details</span>
            </a>
          </li>
          <li>
            <a routerLink="/activity" routerLinkActive="active" class="tab-link">
                <i class="icon-activity"></i>
                <span>Activity</span>
            </a>
          </li>
          <li>
            <a routerLink="/comments" routerLinkActive="active" class="tab-link">
                <i class="icon-comments"></i>
                <span> Comments </span>
            </a>
          </li>
          <li>
            <a routerLink="/attachments" routerLinkActive="active" class="tab-link">
                <i class="icon-attachments"></i>
                <span>Attachments</span>
            </a>
          </li>
        </ul>
      </nav>
</div>


<div class="container-fluid border-top mt-4 tab-content">
    <router-outlet></router-outlet>
</div>